body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-image: url(stars.png);
    overflow: hidden;
}
.background{
    background-image: url(stars.png);
    background-position: center;
    background-size: cover;
}

.netflix-intro {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.netflix-logo {
    font-size: 5rem;
    font-weight: bold;
    color: red;
    display: flex;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.netflix-logo span {
    display: inline-block;
    opacity: 0;
    transform: scale(0.5) rotateX(90deg);
    animation: zoomInRotate 1s forwards;
}

.netflix-logo span:nth-child(1) {
    animation-delay: 0.1s;
}

.netflix-logo span:nth-child(2) {
    animation-delay: 0.2s;
}

.netflix-logo span:nth-child(3) {
    animation-delay: 0.3s;
}

.netflix-logo span:nth-child(4) {
    animation-delay: 0.4s;
}

.netflix-logo span:nth-child(5) {
    animation-delay: 0.5s;
}

.netflix-logo span:nth-child(6) {
    animation-delay: 0.6s;
}

.netflix-logo span:nth-child(7) {
    animation-delay: 0.7s;
}

.netflix-logo span:nth-child(8) {
    animation-delay: 0.8s;
}

@keyframes zoomInRotate {
    0% {
        opacity: 0;
        transform: scale(0.5) rotateX(90deg);
    }
    50% {
        opacity: 1;
        transform: scale(1.1) rotateX(0deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotateX(0deg);
    }
}
.btn{
    color: red;
    
 }